@use 'sectionFooter';
$bg-Primary : #111;
$layout-breakpoint-small: 450px;
$layout-breakpoint-extra-small: 340px;

.footer {
    width: 100%;

    &__section1 {
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
        width: 100%;
        background-color: $bg-Primary;
        padding: 10px 5%;
    }

    &__logo {
        display: none;
        box-sizing: border-box;
        margin-right: 30px;
    }

    &__logo-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        max-width: 51px;
        margin: 0;
        padding: 0;
    }

    &__logo-card-img {
        width: 100%;
    }

    &__social-media {
        display: flex;
        flex-wrap: wrap;
        max-width: 390px;
    }

    &__social-media-card {
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 10px;
    }

    &__social-media-card-img {
        width: 100%;
    }

    @media (min-width: $layout-breakpoint-extra-small) {
        &__logo {
            display: flex;
        }
    }

    @media (min-width: $layout-breakpoint-small) {
        &__social-media-card {
            width: 51px;
        }
        &__logo-card {
            max-width: 71px;
        }
    }
}